@charset "UTF-8";

/* Essa é a maneira de adicionar uma fonte personalizada que está localizada em um arquivo local do seu computador */

@font-face {
    font-family: 'Fontlogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}


/* Outra maneira de adicionar fontes é atraves de um repositorio, que nesse caso é o google */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
body {
    background-color: #dddddd;
    color: #000;
}


/* Essa parte altera toda a parte que está dentro de uma divisão previamente estabelecida(<div>), delimitando os limites e centralizando */

div#interface {
    width: 1750px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

p {
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
}


/* Essa parte altera a imagem que tem o id icone que está dentro do header que tem ide cabecalho */

header#cabecalho img#icone {
    position: absolute;
    left: 1590px;
    top: 70px;
}


/* Parte resposável pela formatação de todos os h1 do cabeçalho */

header#cabecalho h1 {
    font-family: Fontlogo;
    font-size: 50px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    margin-bottom: 0;
}

header#cabecalho h2 {
    /* Referencia a fonte importada do repositorio da google */
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: #888888;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    margin-top: 0;
}


/* Essa parte mexe com todas as configurações referentes ao cabeçalho em geral */

header#cabecalho {
    /* Cria uma borda inferior ao cabeçalho com a cor cinza no formato solido(continuo) */
    border-bottom: 1px #606060 solid;
    height: 170px;
    /* Essa é outra maneira de inserir uma imagem utilizando ela como se fosse um background. O primeiro parâmetro é a referencia, o segundo é pra não repetir, e os outros são referentes ao posicionamento do background em relação ao container que ele está inserido */
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}


/* Formatação de imagens com legendas */

figure.foto-legenda {
    /* A posição relativa faz com que tudo relacionado a imagem seja feito posicionalmente a partir do local onde ela está */
    position: relative;
    /* Cria uma borda para a imagem */
    border: 8px solid white;
    /* Cria um sombra para a borda da imagem */
    box-shadow: 1px 1px 4px black;
    display: inline-block;
}

figure.foto-legenda img {
    width: auto;
    height: auto;
}

figure.foto-legenda figcaption {
    /* Esconde temporariamente a legenda para que não atrapalhe a visualização da imagem */
    opacity: 0;
    /* A posição absoluta e o top 0 faz com que a legenda sempre fique em uma posição determinada na imagem */
    position: absolute;
    top: 0px;
    /* Cria um bloco com transparencia que preenche toda a linha da imagem */
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    /* Cria um espaço dentro da legenda */
    padding: 10px;
    /* Cria um box dentro da borda para que não sejam ultrapassados os limites da borda */
    box-sizing: border-box;
    /* Cria um efeito de transição de acordo com a opacidade definida anteriormente para o background também definido */
    transition: opacity 3s;
}


/* O hover dispara uma classe especifica para quando se passar o mouse em cima da imagem ele mostra a legenda */

figure.foto-legenda:hover figcaption {
    opacity: 1;
    position: absolute;
}


/* Formatação do menu */

nav#menu {
    font-size: 19px;
    display: block;
}


/* Utiliza-se # para se referenciar a um id, ul se refere a lista nao ordenada que seŕa formatada */

nav#menu ul {
    /* Retira os símbolos dos elementos da lista */
    list-style-type: none;
    /* Transforma o texto da lista em letras maiusculas */
    text-transform: uppercase;
    /* Faz com que a lista não fique presa dentro do conteiner e sim possa ser utilizada em todo o site */
    position: absolute;
    top: -20px;
    left: 1100px;
}


/* Formatação dos itens da lista do id menu */

nav#menu li {
    /* Organiza os itens da lista de forma horizontal */
    display: inline-block;
    background-color: #dddddd;
    /* Dá um espaçamento dentro do menu */
    padding: 10px;
    /* Da um espaço entre os itens do menu */
    margin: .5px;
    transition: background-color 1s;
}


/* Mudança de background quando passar o mouse(função hover) */

nav#menu li:hover {
    background-color: #606060;
}


/* Serve para esconder o h1 pois ele não possui significado visual, apenas semantico dentro do html*/

nav#menu h1 {
    display: none;
}


/* Retira o sublinhado e muda as cores dos links, o "a" é de âncora(link) */

nav#menu a {
    text-decoration: none;
    color: black;
}


/* Muda a cor do link quando passar o mouse em cima(função hover) */

nav#menu a:hover {
    color: #a39b9b;
}


/* Configura a seção principal para ser mostrada como um bloco flutuante à esquerda com 1000px de largura */

section#corpo {
    display: block;
    width: 950px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
}


/* Configura a seção lateral para ser mostrada como um bloco à direita com 700pc de largura */

aside#lateral {
    display: block;
    width: 700px;
    float: right;
}


/* Configura o rodapé para limpar as 2 divisões footer#rodape { */

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}

footer#rodape a {
    text-decoration: none;
}